

<div class="container">
  <h1>Favorites</h1>
<!--  <div id="user_transactions">-->
    <%# @user_transactions.each do |user_transaction| %>
      <%#= render user_transaction %>
<!--      <p>-->
        <%#= link_to "Show this user transaction", user_transaction %>
<!--      </p>-->
    <%# end %>
<!--  </div>-->

  <div id="favorites">
    <% if @credit_cards != [] %>
      <% @credit_cards.each do |credit_card| %>
        <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id]  %>
      <% end %>
    <% else %>  
      <h1>Add some cards to your favorites to compare them side by side!</h1>
    <% end%>
  </div>
</div>
