
<div id="favorites">
  <% if @credit_cards.present? %>
    <div class="container">
      <h1>Favorites</h1>
      <% @credit_cards.each do |credit_card| %>
        <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id] %>
      <% end %>
    </div>
  <% else %>
    <div class="bg-light-blue text-light d-flex justify-content-evenly align-items-center flex-column div-with-full-vh" id="explore">
      <div class="container text-center">
        <div class="container mt-5">
          <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body text-center">
              <h3 class="card-title text-dark mb-4">Add some cards to your favorites to compare them side by side!</h3>
              <h4 class="card-text text-dark mb-4">Explore our credit card options and click the <span class="star">&#9734;</span> to save cards you're interested in.</h4>
              <hr>
              <%= link_to 'Browse Card Options', current_user_transactions_path(current_user.username), class: "btn btn-outline-secondary btn-lg" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
