
<% controller = "#{controller_path}" %>

<% if controller == "user_transactions" %>
  <% url = current_user_transactions_path(username: current_user.username) %>
<% else %>
   <% url = current_user_favorites_path(username: current_user.username)%>
<% end%>

<%= search_form_for q, url: url do |f| %>
  <div class="input-group">
    <%= f.text_field :description_cont, placeholder: "Transaction Description...", class: "rounded-start search-bar" %>
    <%= f.submit "Search", class: "btn btn-outline-primary" %>
    <%= link_to 'Clear', url, class: "btn btn-outline-secondary" %>
  </div>

<% end %>
  
