<div class="container w-50">
  <div class="d-flex flex-column">

    <h1>Edit <%= @user_transaction.to_s_full %></h1>
    <%= render "shared/breadcrumbs" %>

    <%= render "form", user_transaction: @user_transaction %>


  </div>

</div>
