
<div class="container">

  <h1>New user transaction</h1>

  <%= render "form", user_transaction: @user_transaction %>

  <br>

  <div>
    <%= link_to "Back to user transactions", current_user_transactions_path(username: current_user.username) %>
  </div>

</div>
