

<div class="container">

  <%= render @user_transaction %>


  <div>
    <%= link_to "Back to user transactions", current_user_transactions_path(username: current_user.username), class:"btn btn-secondary mb-2" %>
  </div>


  <% @credit_cards.each do |credit_card| %>

    <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id] %>

  <% end %>

</div>
