

<div class="container">
  <%= render "shared/breadcrumbs" %>
  
  <div class="mb-4">
    <%= render @user_transaction %>
  </div>


  <% @credit_cards.each do |credit_card| %>

    <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id] %>

  <% end %>

</div>
