

<div class="container">
  <%= render "shared/breadcrumbs" %>
  
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <%= render @user_transaction %>
    </div>
  </div>


  <% @credit_cards.each do |credit_card| %>

    <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id] %>

  <% end %>

</div>
