<div class="bg-dark-blue text-light d-flex justify-content-center align-items-center div-with-full-vh" id="benefits">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Benefits</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-4 rounded shadow bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="card-body text-center">
            <h3 class="mb-3 text-light">Rewards & Cash Back</h3>
            <p class="text-light">Get perks for spending with rewards programs, earning points, miles, or cash back on purchases.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 rounded shadow bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="card-body text-center">
            <h3 class="mb-3 text-light">Credit Building</h3>
            <p class="text-light">Responsible card use can boost your credit score, opening doors to better loan rates and financial opportunities.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 rounded shadow bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="card-body text-center">
            <h3 class="mb-3 text-light">Fraud Protection</h3>
            <p class="text-light">Enjoy peace of mind with robust fraud protection, including zero-liability policies and advanced security features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
