<div class="bg-dark-blue text-light d-flex justify-content-evenly align-items-center flex-column div-with-full-vh" id="explore">
  <div class="container text-center">
    <h1 class="display-4 mb-4">Explore</h1>
    <p class="lead mb-5">Compare your everyday transactions to see how much potential earnings you could have using different credit card options.</p>
    <a href="<%= new_user_transaction_path %>" class="btn btn-primary btn-lg">Get Started</a>
  </div>
</div>
