<div class="bg-light-blue text-dark d-flex justify-content-center align-items-center flex-column min-vh-100">
  <div class="container text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 mb-4">Instructive Exposition</h1>
    <p class="lead mb-5">Welcome to our instructional video showcasing the functionality of our app. Follow along to discover how to make the most out of our features!</p>
    <div class="video-container">
      <%= video_tag "landing_page.mov", loop: true, autoplay: true, controls: true, class: "border border-dark rounded border-1 shadow shadow-lg video" %>     
    </div>
  </div>
</div>
