<div class="bg-light-blue text-dark d-flex justify-content-center align-items-center div-with-full-vh" id="tips-tricks">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Tips & Tricks</h1>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-4">
        <div class="mb-4 mx-2 bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="text-center">
            <h3 class="mb-3">Keep Old Cards Open</h3>
            <p>Keeping old credit cards open can positively impact your credit score by maintaining a longer credit history. Even if you're not actively using them, these accounts contribute to your overall credit age, which is a key factor in determining your creditworthiness.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-4 mx-2 bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="text-center">
            <h3 class="mb-3">Pay On Time</h3>
            <p>Making timely payments on your credit card bills is essential for maintaining a healthy credit score. Late payments can negatively impact your credit history and result in late fees, penalty interest rates, and damage to your creditworthiness. Set up automatic payments or reminders to ensure you never miss a payment deadline.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-4 mx-2 bg-transparent landing-page-card landing-card" id="landing-card">
          <div class="text-center">
            <h3 class="mb-3">Pay Balance</h3>
            <p>Paying off your credit card balance in full each month can save you money on interest charges and help you avoid accumulating debt. By paying the full balance, you also demonstrate responsible credit management to creditors, which can lead to better credit offers and terms in the future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
