

<div class="bg-info d-flex justify-content-center align-items-center div-with-full-vh" >
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center d-flex p-4">
      <h1>Empower Your Finances</h1>
      <div class="d-flex justify-content-center align-items-center">
        <h5>Discover the Hidden Benefits of Using a Credit Card for Your Daily Transactions</h5>
      </div>
    </div>
  </div>
</div>



  <!-- Second div -->
<div class="bg-secondary text-light d-flex justify-content-evenly align-items-center flex-column div-with-full-vh">
  <div class="row">
    <h1>Explore</h1>
  </div>
  <div class="row w-50">
    <h2>Compare Your Everyday Transactions to See How Much Potential Earnings You Could Have Using Different Credit Card Options</h2>
  </div>
  <div class="row" >
      <%= link_to 'Explore', new_user_transaction_path, class: "btn btn-success btn-lg text-light button" %>
  </div>
  </div>
</div>



<div class="div-with-background" style="background-image: url('<%= asset_path('credit-card-3.avif') %>');">
</div>



  <!-- Third div -->
<div class="bg-secondary text-light full-height-div d-flex justify-content-center align-items-center div-with-full-vh">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>div 1</h1>
      <p>This is the first div of the landing page.</p>
    </div>
  </div>
</div>
