
<div class="bg-light-blue d-flex justify-content-center align-items-center div-with-full-vh" id="hero" >
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center d-flex p-4">
      <h1>Empower Your Finances</h1>
      <div class="d-flex justify-content-center align-items-center">
        <h5>Discover the Hidden Benefits of Using a Credit Card for Your Daily Transactions</h5>
      </div>
    </div>
  </div>
</div>

<!-- Second div -->
<div class="bg-dark-blue text-light d-flex justify-content-evenly align-items-center flex-column div-with-full-vh" id="explore">
  <div class="row">
    <h1>Explore</h1>
  </div>
  <div class="row w-50">
    <h2>Compare Your Everyday Transactions to See How Much Potential Earnings You Could Have Using Different Credit Card Options</h2>
  </div>
  <div class="row" >
    <%= link_to 'Explore', new_user_transaction_path, class: "btn btn-success btn-lg text-light button" %>
  </div>
</div>
</div>

<div class="div-with-background" style="background-image: url('<%= asset_path('credit-card-3.avif') %>');">
</div>

<!-- Third div -->
<div class="bg-dark-blue text-light d-flex justify-content-between align-items-center div-with-full-vh" id="benefits">
  <div class="row m-2 h-75">
    <div class="text-center h-100 d-flex flex-column justify-content-center">
      <h1 class="align-items-start">Benefits</h1>
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <h3>Rewards & Cash Back</h3>
          <p>Get perks for spending with rewards programs, earning points, miles, or cash back on purchases</p>
        </div>
        <div class="w-25">
          <h3>Credit Building</h3>
          <p>Responsible card use can boost your credit score, opening doors to better loan rates and financial opportunities.</p>
        </div>
        <div class="w-25">
          <h3>Fraud Protection</h3>
          <p>Enjoy peace of mind with robust fraud protection, including zero-liability policies and advanced security features.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-with-background" style="background-image: url('<%= asset_path('credit_card_1.jpg') %>');">
</div>

<!-- Fourth div -->
<div class="bg-light-blue text-light d-flex justify-content-between align-items-center div-with-full-vh" id="tips-tricks">
  <div class="row m-2 h-75">
    <div class="text-center h-100 d-flex flex-column justify-content-center">
      <h1 class="align-items-start">Tips & Tricks</h1>
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <h3>Keep Old Crads Open</h3>
          <p>Keeping old credit cards open can positively impact your credit score by maintaining a longer credit history. Even if you're not actively using them, these accounts contribute to your overall credit age, which is a key factor in determining your creditworthiness.</p>
        </div>
        <div class="w-25">
          <h3>Pay On Time</h3>
          <p>Making timely payments on your credit card bills is essential for maintaining a healthy credit score. Late payments can negatively impact your credit history and result in late fees, penalty interest rates, and damage to your creditworthiness. Set up automatic payments or reminders to ensure you never miss a payment deadline.</p>
        </div>
        <div class="w-25">
          <h3>Pay Balance</h3>
          <p>Paying off your credit card balance in full each month can save you money on interest charges and help you avoid accumulating debt. By paying the full balance, you also demonstrate responsible credit management to creditors, which can lead to better credit offers and terms in the future.</p>
        </div>
      </div>
    </div>
  </div>
</div>
