/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  font-family: "Montserrat";
  font-weight: 200;
}

 .div-with-full-vh {
  width: 100%;
  height: 100vh;
 }


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 10rem;
  height: 5rem;
}

.bg-cream {
  background-color: #F9F7F7;
}
.bg-light-blue {
  background-color: #DBE2EF;
}
.bg-middle-blue {
  background-color: #3F72AF;
}
.bg-dark-blue {
  background-color: #112
}
.text-cream {
  color: #F9F7F7;
}



.card-image {
  max-width: 500px;
}


.transaction-card {
  transition: all .2s ease-in-out;
}
.transaction-card:hover {
  transform: scale(1.1);
}

.add-transaction-button {
  transition: all .2s ease-in-out;
}
.add-transaction-button:hover {
  transform: scale(1.1);
}

.object-fit-cover {
  object-fit: cover; /* Resize the image to cover the entire container while maintaining aspect ratio */
}

.w-100 {
  width: 100%; /* Ensure the image takes up 100% of the available width */
}


.div-with-background {
  height: 80vh; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
}


.landing-page-card {
  transition: all .2s ease-in-out;
}
.landing-page-card:hover {
  transform: scale(1.2);
}
