/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  font-family: "Montserrat";
  font-weight: 200;
}

 .div-with-full-vh {
  width: 100%;
  height: 100vh;
 }


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 10rem;
  height: 5rem;
}

.bg-cream {
  background-color: #F9F7F7;
}
.bg-light-blue {
  background-color: #DBE2EF;
}
.bg-middle-blue {
  background-color: #3F72AF;
}
.bg-dark-blue {
  background-color: #112
}
.text-cream {
  color: #F9F7F7;
}





.cc-margin {
  margin-bottom: 5rem;
  margin-top: 5rem;
  transition: transform 0.3s ease;
}

.cc-margin:hover {
  transform: translateY(-10px); /* Move card 10px upward on hover */
}

.transaction-card {
  transition: all .2s ease-in-out;
}
.transaction-card:hover {
  transform: scale(1.1);
}




.add-transaction-button {
  transition: all .2s ease-in-out;
}
.add-transaction-button:hover {
  transform: scale(1.1);
}

.object-fit-cover {
  object-fit: cover; /* Resize the image to cover the entire container while maintaining aspect ratio */
}

.w-100 {
  width: 100%; /* Ensure the image takes up 100% of the available width */
}


.div-with-background {
  height: 80vh; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
}


.landing-page-card {
  transition: all .2s ease-in-out;
}
.landing-page-card:hover {
  transform: scale(1.2);
}


#carouselExampleFade {
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width */
  height: auto; /* Allow height to adjust based on content */
}



/* Default styles for review cards */
.review-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.review-card-body {
  color: white;
}

.reviewer-name {
  font-size: 1.5rem;
}

.review-text {
  font-size: 1.2rem;
}

/* Star rating styles */
.star-rating {
  font-size: 2rem;
  margin-top: 10px;
}

.star {
  color: gold; 
}




@media (max-width: 576px) {
  .review-card {
    max-width: 300px; /* Adjust maximum width for smaller screens */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .reviewer-name {
    font-size: 1.2rem; /* Adjust font size for reviewer name */
  }

  .review-text {
    font-size: 1rem; /* Adjust font size for review text */
  }

  .star-rating {
    font-size: 1.5rem; /* Adjust star size for smaller screens */
  }
}



.star-button {
  background-color: transparent;
  border: none;
  color: #dc3545; /* Button color */
  font-size: 1.2rem; /* Adjust size as needed */
}

.star-button:hover {
  color: #f8d7da; /* Button hover color */
}

.filled {
  color: #ffc107; /* Filled star color */
}


.create-star-button {
  background-color: transparent;
  border: none;
  color: #ffc107;
  font-size: 1.2rem; /* Adjust size as needed */
  cursor: pointer; /* Show pointer cursor on hover */
}

.create-star-button:hover {
  color: #ffc107; /* Change color on hover */
}



  .transaction-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .transaction-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .transaction-form .alert {
    margin-bottom: 20px;
  }


.search-bar {
  width: 25vw;
  border-width: 1px;
}

.card-hover-effect {
  position: relative;
  margin-bottom: 5rem;
}

.card-body {
  position: relative; /* Ensure positioning context for absolute button placement */
}

.card-image {
  width: 100%; /* Ensure the image fills the width of the card */
  height: 200px; /* Maintain aspect ratio */
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.button-container {
  position: absolute;
  bottom: 55%; /* Position the button container at the bottom of the card */
  left: 50%; /* Center the button container horizontally */
  transform: translateX(-50%); /* Center the button container relative to its parent */
  opacity: 0; /* Initially hide the buttons */
  transition: opacity 0.3s ease; /* Smooth transition for showing/hiding buttons */
}

.card-hover-effect:hover .card-image {
  transform: translateY(-100px); /* Move the image up by 10px on hover */
}

.card-hover-effect:hover .button-container {
  opacity: 1; /* Show the button container on hover */
}


/* Define styles for the main content wrapper */
.content-wrapper {
  min-height: 100vh; /* Ensure the content wrapper fills the viewport height */
  box-sizing: border-box; /* Include padding in the height calculation */
}

/* Define styles for the footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Adjust background color as needed */
  color: #fff; /* Adjust text color as needed */
  padding: 15px; /* Adjust padding as needed */
  text-align: center;
}


.card-margin {
  margin-top: 40px;
}

.search-margin {
  margin-bottom: 60px;
}


.video-container {
  max-width: 800px; /* Set maximum width */
  overflow: hidden;
}

.video {
  max-width: 100%;
}
